.nav-bar {
  padding: 12px 0 0;
  width: 240px;
  height: calc(100vh - 12px);
  border-right: 1px solid #ececed;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu-item,
  .menu-title {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 240px;
    height: 32px;
    font-size: 13px;
    line-height: 20px;
    color: #4c4c55;
    display: flex;
    align-items: center;
    gap: 6px;

    &.recent-item {
      height: 28px;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .menu-title {
    font-weight: 800;
    color: #14141f;
  }
  .with-action {
    justify-content: space-between;
    .title {
      display: flex;
      gap: 6px;
      align-items: center;
    }
    .action {
      display: flex;
      align-items: center;
    }
  }
  .nav-footer {
    height: 64px;
    border-top: 1px solid #ececed;
    padding: 0 16px;
    .title {
      gap: 12px;
      font-family: "Gilroy-SemiBold", sans-serif;
      font-weight: 600;
      color: #4c4c55;
    }
  }
}
.logo-item {
  border-bottom: 1px solid #ececed;
  padding: 0 8px;
}
.resume-icon {
  width: 16px;
}
