@font-face {
  font-family: "Gilroy";
  src: url(/assets/fonts/Gilroy-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(/assets/fonts/Gilroy-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url(/assets/fonts/Gilroy-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(/assets/fonts/Gilroy-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url(/assets/fonts/Gilroy-Light.ttf) format("truetype");
}

body,
* {
  font-family: Gilroy;
}
body {
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
}
